html,
body {
	background-color: #f4f4f4;
	height: 100%;
}
#root {
	height: 100%;
}
.crypto-card {
	width: 300px;
}
.is-fav {
	border-color: #ffe08a;
	border-style: solid;
}

.Header {
	text-align: center;
}
.media {
	min-height: 75px;
}
.search-input {
	max-width: 50%;
}
/* Dark Mode */
.dark-mode {
	background-color: black;
}
.dark-mode h1 {
	color: white;
}
.dark-mode .card {
	background-color: #2b2c28;
}
.dark-mode .card .card-content,
.dark-mode .card .card-content .title,
.dark-mode .card .card-content .subtitle {
	color: #fffafb !important;
}
.dark-mode .card .card-content .icon {
	color: rgb(238, 82, 82) !important;
}

.dark-mode .search-input {
	background-color: #2b2c28;
	color: white;
}
